<section class="card">
  {{!-- <a href="/painting/{{id}}"> --}}
    <header></header>

    <div class="card-body">
      {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
      <p>{{content}}</p>
      <p>By: {{user_id}}</p>
      <p>Time: {{format_date createdAt}}</p>
    </div>
  </a>
</section>